@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TechStore.Infrastructure.Data.Models.Account

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a class="nav-link text-light fw-bold" title="Manage">Hello, @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-controller="Account" asp-action="Signout" asp-route-id="@UserManager.GetUserId(User)">
                <button type="submit" class="nav-link btn btn-link text-light fw-bold">Sign out</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-light fw-bold" asp-controller="Account" asp-action="SignIn">Sign In</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-light fw-bold" asp-controller="Account" asp-action="SignUp">Sign Up</a>
    </li>
}
</ul>
