<div class="text-center">
	<h2 class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 p-3 mb-2 bg-success text-white col=sm">You just made your third purchase!</h2>
	<h2 class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 p-3 mb-2 bg-warning text-black col=sm">You are now a BestUser! Congratulations!</h2>
	<img src="https://assets.cardly.net/production/artwork/8/f/e/8feb9450-02af-00ee-5f5f-245aec41cd7b/detail/congratulations-p1-r2.webp" alt="Congratulations Image">
	<br /><br />
	<h4>Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</h4>
</div>