<div class="text-center">
	<h2 class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 p-3 mb-2 bg-primary text-white">You just made a great purchase! Congratulations!</h2>
	<br /><br />
	<h4>Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</h4>
</div>